    body {
        background-color: rgb(0, 0, 0);
    }

    div {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
        text-align: left;
        line-height: 2em;
        font-weight: 100;
        color: rgb(255, 255, 255);
    }

    .div1 {
        background-color: hsl(0, 0%, 69%);
        fon
    }

    .div2 {
        background-color: #808080;
    }

    .div3 {
        background-color: rgb(77, 77, 77);
    }

    div:nth-child(4) {
        background-color: rgb(41, 41, 41);
    }

    span {
        font-size: 2em;
        font-weight: 1000
    }

    .MORE {
        font-size: 2.25em;
        font-style: oblique;
        text-shadow: 3px 3px rgb(0, 0, 0);
    }
